

.cn__sensei-card-header {
    background: white;
    background-color: white;
}
.cn__sensei-card-header img {
    width: 30%;
    height: 30%;
}
.cn__sensei-card-level {
    background: white;
    display: flex;
    flex-direction: row;
    margin-right: 4rem;
}

.cn__sensei-card-header_input {
    display: flex;
    flex-direction: column;
}

.cn__sensei-card-header_input img {
    width: 23%;
    height: 20%;
    position: absolute;
    top: 3800px;
    left: 110px;
}

.cn__sensei-card-note {
    background: white;
}