.cn__header {
    display: flex;
}

.cn__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.cn__header-content h1{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: #034586;

}

.cn__header-content p {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;

    color: #034586;
    margin-top: 1.5rem;
}

.cn__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
}

.cn__header-content__input input {
    background: #052d56;

    font-family: 'Quicksand', 'Times New Roman', Times, serif;
    border: 2px solid #031B34;
    padding: 0 1rem;
    outline: none;
    font-size: 20px;
    line-height: 27px;
    color: white;
    flex: 2;
    width: 100%;
    min-height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cn__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    background: #ADD8E6;

    transform: matrix(1, 0, 0, 1, 0, 0);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cn__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}


.cn__header-content__people img{
    width: 182px;
    height: 38px;
}

.cn__header-content__people p {
    margin: 0 0 0 1rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 38px;
    color: white;
    text-align: center;
}

.cn__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cn__header-image img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px) {
    .cn__header {
        flex-direction: column;
    }

    .cn__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .cn__header h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .cn__header p {
        font-size: 16px;
        line-height: 24px;
    }

    .cn__header-content__people {
        flex-direction: column;
    }

    .cn__header-content__people p {
        margin: 0;
    }

    .cn__header-content__input input,
    .cn__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .cn__header {
        font-size: 36px;
        line-height: 48px;
    }

    .cn__header p {
       font-size: 14px;
       line-height: 24px;
    }

    .cn__header-content__input input,
    .cn__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}