.cn__whatcn {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: #031B34;

    background:-moz-radial-gradient(circle at 30% -100%, rgba(0, 188, 212, 1) 25%, rgb(7, 214, 242) 85%, rgba(0, 188, 212, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.cn__whatcn-feature {
    display: flex;
}

.cn__whatcn-feature .cn__features-container__feature {
    margin: 0;
}

.cn__whatcn-feature .cn__features-container__feature-text {
    max-width: 700px;
}

.cn__whatcn-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
}

.cn__whatcn-heading h1 {
    font-family: Manrope, sans-serif;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    max-width: 510px;
}

.cn__whatcn-heading p {
    font-family: Manrope, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color:lightskyblue;
    cursor: pointer;
}

.cn__whatcn-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;


}

.cn__whatcn-container .cn__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

.cn__whatcn-container .cn__features-container__feature-text {
    margin-top: 0.5rem;
}